*.py[cod]
site*.retry
htmlcov
.DS_Store
.idea

# C extensions
*.so

# Packages
*.egg
*.egg-info
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
#lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo
playbook

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

.webassets-cache

# Virtualenvs
env/

# Migrate
migrations

*.swn
*.swm
*.swl

tasks/script/*.xlsx
tasks/script/*.xls
*.sql.gz
*.rdb
.idea
venv
.cache
tags
